CognitMVP.Model/Service References/DACSArtistSearchWebService/DACSAccess1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchARRArtist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ArtistFirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ArtistLastName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSize" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageNo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchARRArtistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchARRArtistResult" type="tns:DACSAtristList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DACSAtristList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="0" maxOccurs="1" name="ArtistList" type="tns:ArrayOfDACSArtist" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalArtist" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ExtensionDataObject" />
      <s:complexType name="ArrayOfDACSArtist">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DACSArtist" nillable="true" type="tns:DACSArtist" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DACSArtist">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="0" maxOccurs="1" name="ARRConfirmedNationality" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ARRMembership" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ArtistId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AuthenticFirstNames" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AuthenticLastName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CLFullConsultation" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="CLMemebershipType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CLRightsAuctionHouseOnly" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CLRightsExcludingMerchandise" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CLRightsExcludingMultimedia" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CLRightsMultimediaOnly" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ImageHire" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="InCopyright" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nationality1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nationality2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nationality3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nationality4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Pseudonym_1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Pseudonym_2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Pseudonym_3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Pseudonym_4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Pseudonym_5" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Pseudonym_6" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YearOfBirth" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YearOfDeath" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SearchAllArtist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ArtistFirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ArtistLastName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSize" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageNo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchAllArtistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchAllArtistResult" type="tns:DACSAtristList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchArtistDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchArtistDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchArtistDetailResult" type="tns:DACSArtist" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="SearchARRArtistSoapIn">
    <wsdl:part name="parameters" element="tns:SearchARRArtist" />
  </wsdl:message>
  <wsdl:message name="SearchARRArtistSoapOut">
    <wsdl:part name="parameters" element="tns:SearchARRArtistResponse" />
  </wsdl:message>
  <wsdl:message name="SearchAllArtistSoapIn">
    <wsdl:part name="parameters" element="tns:SearchAllArtist" />
  </wsdl:message>
  <wsdl:message name="SearchAllArtistSoapOut">
    <wsdl:part name="parameters" element="tns:SearchAllArtistResponse" />
  </wsdl:message>
  <wsdl:message name="SearchArtistDetailSoapIn">
    <wsdl:part name="parameters" element="tns:SearchArtistDetail" />
  </wsdl:message>
  <wsdl:message name="SearchArtistDetailSoapOut">
    <wsdl:part name="parameters" element="tns:SearchArtistDetailResponse" />
  </wsdl:message>
  <wsdl:portType name="DACSAccessSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchARRArtist">
      <wsdl:input message="tns:SearchARRArtistSoapIn" />
      <wsdl:output message="tns:SearchARRArtistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchAllArtist">
      <wsdl:input message="tns:SearchAllArtistSoapIn" />
      <wsdl:output message="tns:SearchAllArtistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchArtistDetail">
      <wsdl:input message="tns:SearchArtistDetailSoapIn" />
      <wsdl:output message="tns:SearchArtistDetailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DACSAccessSoap" type="tns:DACSAccessSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchARRArtist">
      <soap:operation soapAction="http://tempuri.org/SearchARRArtist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchAllArtist">
      <soap:operation soapAction="http://tempuri.org/SearchAllArtist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchArtistDetail">
      <soap:operation soapAction="http://tempuri.org/SearchArtistDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DACSAccessSoap12" type="tns:DACSAccessSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchARRArtist">
      <soap12:operation soapAction="http://tempuri.org/SearchARRArtist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchAllArtist">
      <soap12:operation soapAction="http://tempuri.org/SearchAllArtist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchArtistDetail">
      <soap12:operation soapAction="http://tempuri.org/SearchArtistDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DACSAccess">
    <wsdl:port name="DACSAccessSoap" binding="tns:DACSAccessSoap">
      <soap:address location="https://artistsearch.dacs.org.uk/DACSAccess.asmx" />
    </wsdl:port>
    <wsdl:port name="DACSAccessSoap12" binding="tns:DACSAccessSoap12">
      <soap12:address location="https://artistsearch.dacs.org.uk/DACSAccess.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>